# Project exclude paths
/.gradle/
/tw.travel.desk/build/
/tw.travel.desk/build/classes/java/main/
/tw.travel.flights/build/
/tw.travel.flights/build/classes/java/main/
.idea
/tw.travel.payments/build/
/tw.travel.payments/build/classes/java/main/
/tw.travel.paymentsinterface/build/
/tw.travel.paymentsinterface/build/classes/java/main/